 <div class="card h-100 shadow-sm">
                <img class="card-img-top" src="@product.Image" alt="">
                <div class="card-body">
                    <h4 class="card-title">@product.Name</h4>
                    <p class="card-text text-success fw-bold">@product.Price</p>
                    <p class="card-text">@product.Quantity</p>
                </div>
            </div>


@code 
{
    [Parameter] public Product product { get; set; }

    protected override void OnParametersSet() 
    {
        Console.WriteLine($"ProductItem: {product.Name}");
    }
}