@page "/feedback";
@inject IJSRuntime JSRuntime;


<h1>Feedback</h1>

<div class="container mt-4">
    <h1 class="text-center">Feedback</h1>

    <div>
        <EditForm Model="@FeedbackModel" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
             <ValidationSummary />
            <div class="row">
                <div class="col-md-6">
                    <label for="cleaniness" class="form-label">cleaniness</label>
                    <input type="range" class="form-range" min="0" max="10" step="0.5" @bind-value="FeedbackModel.Cleaniness">
                    <ValidationMessage For="() => FeedbackModel.Cleaniness" />
                </div>
                <div class="col-md-6">
                    <label for="staff" class="form-label">Staff</label>
                    <input type="range" class="form-range" min="0" max="10" step="0.5" @bind-value="FeedbackModel.Staff">
                    <ValidationMessage For="() => FeedbackModel.Staff" />
                </div>
                
                

                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="comfort" class="form-label">Comfort</label>
                    <input type="range" class="form-range" min="0" max="10" step="0.5" @bind-value="FeedbackModel.Comfort">
                    <ValidationMessage For="() => FeedbackModel.Comfort" />
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="value" class="form-label">Value</label>
                    <input type="range" class="form-range" min="0" max="10" step="0.5" @bind-value="FeedbackModel.Value">
                    <ValidationMessage For="() => FeedbackModel.Value" />
                </div>
            </div>
            <div class="row">
                <h4>Guest information</h4>
                <div class="row">
                    <div class="cold-md-6">
                        <label for="firtName" class="form-label">First name</label>
                        <InputText class="form-control" id="firstName" @bind-Value="FeedbackModel.FirstName"/>
                        <ValidationMessage For="() => FeedbackModel.FirstName" />
                    </div>
                    <div class="cold-md-6">
                        <label for="lastName" class="form-label">Last name</label>
                        <InputText class="form-control" id="lastName" @bind-Value="FeedbackModel.LastName"/>
                        <ValidationMessage For="() => FeedbackModel.LastName" />
                    </div>
                </div>
                <div class="row">
                    <div class="cold-md-6">
                        <label for="userName" class="form-label">User name</label>
                        <InputText class="form-control" id="userName" @bind-Value="FeedbackModel.UserName"/>
                        <ValidationMessage For="() => FeedbackModel.UserName" />
                    </div>
                    <div class="cold-md-6">
                        <label for="email" class="form-label">Email</label>
                        <InputText class="form-control" id="email" @bind-Value="FeedbackModel.Email"/>
                        <ValidationMessage For="() => FeedbackModel.Email" />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button> 
        </EditForm>
    </div>
</div>

<div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feedbackModalLabel">Feedback Submitted</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Thank you! Your feedback has been submitted successfully.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@code 
{
    public FeedbackModel FeedbackModel { get; set; } = new();

    public async Task HandleValidSubmit() 
    {
        Console.WriteLine("Check submit");
        await JSRuntime.InvokeVoidAsync("showFeedbackModal", FeedbackModel);
    }

}