@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bodyColor;
}

.demo {
  @apply flex items-center justify-center;
}

/* .demo .demo1 {
  @apply transition-all duration-500 ease-in-out hover:bg-green-500;
} */

.crypto {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.button__gradient {
  @apply bg-gradient-text rounded-3xl px-6 py-3 text-white;
}

.grid__container {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
}

.grid__container .item__1 {
  @apply m-3 h-10 bg-slate-500 p-3 md:bg-orange-500 lg:bg-red-500;
}
.grid__container .item__2 {
  @apply m-3 h-10 bg-slate-500 p-3 md:bg-orange-500 lg:bg-blue-500;
}
.grid__container .item__3 {
  @apply m-3 h-10 bg-slate-500 p-3 md:bg-orange-500 lg:bg-green-500;
}

/* Style cho dots của slick carousel  */
.feedback .slick-dots li button::before {
  font-size: 16px;
  color: white;
  margin-top: 10px;
}

.input__custom {
  background-color: unset;
  border: none;
}
