@page "/welcome"

<PageTitle>Welcome DOTNET 2</PageTitle>

<h1>Welcome to class Welcome home</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa quaerat, consectetur quisquam optio sequi delectus perferendis a, ea autem fuga quis rem voluptatibus nostrum consequatur nulla incidunt error. Aliquam, eum?</p>