

@* Inject UserService *@
@inject UserService UserService;

@if(UserService.IsAuthenticated()) 
{
    <p class="text-white">Xin chào @UserService.CurrentUser</p>
    <button class="btn btn-danger" @onclick="Logout">Logout</button>
}
else 
{
    <div class="container">
        <input type="text" placeholder="Nhập tên của bạn" @bind="userName">
        <button class="btn btn-success" @onclick="SignIn">Login</button>
    </div>
}

@code 
{
    private string userName = string.Empty;
    private void SignIn() 
    {
        UserService.Login(userName);
    }

    private void Logout() 
    {
        userName = string.Empty;
        UserService.Logout();
    }
} 