* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #f8e1db;
}

.header ul {
  list-style: none;
}

.header li {
  display: inline;
  margin: 20px;
}

.header__content {
  margin: 0 auto;
  max-width: 1440px;
}

.header a {
  text-decoration: none;
  color: black;
}

/* carousel */
.carousel {
  background-image: url(../img/BG.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* activities */
.activities {
  padding: 50px 0;
  background-color: #faf4f2;
}

.activities__item {
  float: left;
  width: 25%;
  padding: 20px 10px;
  text-align: center;

  /* border-radius: 20px;
  background-color: white; */
}

.activities__card {
  background-color: white;
  border-radius: 20px;
}

.activities__love {
  color: red;
  font-size: 25px;
  width: 42px;
  height: 42px;
  background-color: white;
  line-height: 42px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 14px;
}

/* Set position giữa card và love */

.activities__img {
  position: relative;
}

.activities__item img {
  border-radius: 20px;
}

.activities__desc h3 {
  font-size: 18px;
  margin-top: 12px;
}

.activities__desc p {
  font-size: 12px;
  margin-bottom: 25px;
}

.activities__desc button {
  padding: 13px 50px;
  /* border: 1px solid gray; */
  border: transparent;
  color: #8d8d8d;
  background-color: #e8e8e8;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 25px;
}

.activities__viewall:hover,
.activities__desc button:hover {
  color: white;
  background-color: #f8e1db;
}

.activities__view {
  text-align: center;
}

.activities__viewall {
  color: #e76f51;
  border: 1px solid #e76f51;
  border-radius: 25px;
  padding: 13px 50px;
  background-color: transparent;
  cursor: pointer;
}

.clear {
  clear: both;
}

.contact {
  background-color: #f8e1db;
  border-radius: 20px;
  margin: 20px 0;
}

.contact__left,
.contact__right {
  float: left;
  width: 50%;
  padding: 20px 60px;
}

.contact__left {
  background-image: url(../img/mask.png);
  background-size: cover;
  background-position: center;
}

.contact__app,
.contact__follow {
  float: left;
  width: 50%;
  padding-right: 15px;
}

.contact__follow i {
  color: red;
  font-size: 25px;
  margin-right: 10px;
}
